/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes arrow {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(4px);
  }
}

.heart {
  transform-origin: center;
}

.core {
  transition: fill 0.3s linear 0s;
}

.main-body {
  transition: fill 0.3s linear 0.05s;
}

.contour {
  transition: fill 0.3s linear 0.06s;
}

.heart:hover .core {
  cursor: pointer;
  fill: var(--accent-color);
}

.heart:hover .main-body {
  fill: var(--accent-color);
}

.heart:not(:hover) .core {
  transition-delay: 0.03s;
}

.heart:not(:hover) .main-body {
  transition-delay: 0s;
}

.heart:active .core {
  fill: var(--heart-color);
}

.heart:active .main-body {
  fill: var(--heart-color);
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1 alternate;
  transform: scale(1.1);
}

.like-icon.is-liked .heart {
  animation: big-heart 0.3s ease-in 0.1s 1 alternate;
}

@keyframes big-heart {
  from {
    transform: scale(1);
    transform-origin: center;
  }
  to {
    transform: scale(1.5);
    transform-origin: center;
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
