/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--mine-font), sans-serif;
  font-variation-settings: "wght" 400;
  color: var(--accent-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  align-content: center;
}

.header {
  font-family: var(--accent-font), sans-serif;
  inline-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  block-size: clamp(20.1875rem, 19.2852rem + 3.8498vw, 22.75rem);
  outline: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin-block-start: 102px;
  margin-block-end: 104px;
}

.header__main-title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  font-weight: 400;
  margin-block-start: 120px;
  margin-block-end: 20px;
}

.header__title {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  text-transform: uppercase;
}

.theme-menu__list {
  display: grid;
  align-content: center;
  padding-inline-start: 20px;
  gap: 4px;
}

.theme-menu__button {
  background-color: inherit;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  opacity: 0.6;
  animation: arrow 0.5s infinite ease-in-out normal;
}



.theme-menu__button:hover {
  opacity: 0.6;
  transition: linear 0.3s;
}

.theme-menu__button::after {
  content: "";
  display: block;
  inline-size: 0%;
  block-size: 3px;
  margin-block-start: 3px;
  background-color: var(--accent-color);
  transition: linear 0.3s;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  inline-size: 100%;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.card {
  inline-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  background-color: var(--bg-color);
  display: grid;
  outline: 2px solid var(--accent-color);
}

.card__img-label {
  display: flex;
  background-blend-mode: hard-light;
  outline: 2px solid var(--accent-color);
}

.card__img {
  inline-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
}

.card__label {
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 10px var(--bg-color);

  margin-block-start: 23px;
  margin-inline-end: 11px;
  justify-content: end;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color),
    1px 0 var(--bg-color), 0 -1px var(--bg-color);
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .card__label {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

.card__title {
  padding: 6px 24px 3px 10px;
  font-size: 18px;
  font-variation-settings: "wdht" 700;
  font-family: var(--mine-font), sans-serif;
}

.card__text {
  margin: 25px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card__icon-button {
  background-color: var(--bg-color);
  margin-block-end: 25px;
  border: none;
  inline-size: 38px;
  block-size: 38px;
  margin-inline-end: 10px;
  display: flex;
}

.card__like-button {
  background-color: var(--bg-color);
  inline-size: 130px;
  block-size: 38px;
  margin-block-end: 25px;
  margin-inline-end: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
}

.footer {
  inline-size: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
  block-size: clamp(14.75rem, 15.3222rem + -2.4413vw, 13.125rem);
  display: grid;
  justify-content: center;
  border-block-start: 2px solid var(--accent-color);
}

.footer__button {
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  block-size: 51px;
  margin-block-start: 54px;
  background-color: var(--bg-color);
}

.footer__floppy {
  inline-size: 21px;
  block-size: 21px;
}

.footer__button-text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  position: relative;
}

.button__text {
  position: relative;
}

.buttons {
  position: relative;
  border: none;
  outline: 2px solid var(--accent-color);
}

.buttons:focus {
  outline: none;
  border: 2px solid var(--accent-color);
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: linear 0.3s;
}

.buttons::before {
  content: '';
  position: absolute;
  inset: 0;
  block-size: 100%;
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.buttons:hover::before {
  transform: scaleX(1);  
}

.buttons:hover {
 color: var(--bg-color);
}

.buttons:hover .footer__floppy {
  fill: var(--bg-color);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

.sparks {
  opacity: 0;
}

.footer__floppy {
  fill: var(--accent-color);
}